@import "./abstracts";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // Color Palette
  --white: #fff;
  --black: rgb(0, 0, 0, 0.3);
  --weave: #f4f3e5;
  --grey: #494343;
  --clay: #a05d37;
  --red: #ff151c;
  --blue: #00c1ff;
  --yellow: #ffc904;
  --orange: #ff8400;
  --green: #00c700;
  --magenta: #00c700;
  --separators: #d2d0c5;
  --darkGrey: #332d2d;

  // Font Sizes
  --h0-size: 7.3vw; // 140/125
  --h1-size: 5.06vw; // 97/95
  --h2-size: 4.28vw; // 82/74
  --h3-size: 4.17vw; // 80/85
  --h4-size: 3.34vw; // 64/49.5
  --h5-size: 2.97vw; // 57/57
  --h6-size: 2.5vw; // 48/51

  --sub-title1-size: 1.78vw; // 34/auto
  --sub-title2-size: 1.46vw; // 28/auto
  --sub-title3-size: 1.2vw; // 23/25

  --paragraph1-size: 1.67vw; // 32/41
  --paragraph2-size: 1.31vw; // 25/35

  --overHeadTitle-size: 1.15vw; // 22/auto

  --caption1-size: 0.99vw; // 19/35
  --caption2-size: 0.89vw; // 17/auto

  --footer-title-size: 1.1vw; // 21/auto

  --menu-size: 3.9vw; // 74.6/auto

  --nav-size: 0.84vw; // 16/auto
  --nav-nums-size: 0.81vw; // 15.6/21.7

  --cta-size: 1.15vw; // 22/auto

  // Spacing
  --letter-space: 0em;
  --sectionPaddingBottom: 5.9vw;
  --spaceX: 2.1vw;

  @include medium-screen {
  }

  @include small-screen {
  }
}

// fonts
h1 { font-size: var(--h1-size); }
h2 { font-size: var(--h2-size); }
h3 { font-size: var(--h3-size); }
h4 { font-size: var(--h4-size); }
h5 { font-size: var(--h5-size); }
h6 { font-size: var(--h6-size); }

.h0 { font-size: var(--h0-size); }
.h1 { font-size: var(--h1-size); }
.h2 { font-size: var(--h2-size); }
.h3 { font-size: var(--h3-size); }
.h4 { font-size: var(--h4-size); }
.h5 { font-size: var(--h5-size); }
.h6 { font-size: var(--h6-size); }

.paragraph1-size { font-size: var(--paragraph1-size); }
.paragraph2-size { font-size: var(--paragraph2-size); }

.sub-title1-size { font-size: var(--sub-title1-size); }
.sub-title2-size { font-size: var(--sub-title2-size); }
.sub-title3-size { font-size: var(--sub-title3-size); }

.overHeadTitle-size { font-size: var(--overHeadTitle-size); }

.caption1-size { font-size: var(--caption1-size); }

.caption2-size { font-size: var(--caption2-size); }

.footer-title-size { font-size: var(--footer-title-size); }

.menu-size { font-size: var(--menu-size); }

.nav-size { font-size: var(--nav-size); }
.nav-nums-size { font-size: var(--nav-nums-size); }

.cta-size { font-size: var(--cta-size); }

.letter-space { letter-spacing: var(--letter-space); }
.sectionPaddingBottom { padding-bottom: var(--sectionPaddingBottom); }
.spaceX { 
  padding-left: var(--spaceX);
  padding-right: var(--spaceX);
}

body {
  font-family: var(--primaryRegularFont);
}

// RTL
html[dir="rtl"] {
}
